body {
    background: linear-gradient(135deg, rgb(32, 32, 32) 20%, rgb(0, 2, 70));
    font-family: 'Poppins', sans-serif;
}
/*///HEADER CSS///////////////////////////////////////////////////////////////////*/
#fondodeheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    margin: 1px auto;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
/* Ajuste del margen del h1 */
h1  {
    margin: 0; /* Elimina el margen superior e inferior */
    padding: 0; /* Opcional: elimina el padding si hay */
    color:white
    
}
/*///MENU PRINCIPAL/////////////////////////////////////////////////////////////*/
nav {
    background-color: rgb(32, 32, 32);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 2px 0; /* Reducir aún más el padding para hacer la barra más fina */
    
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos dentro del menú */
}

nav ul li {
    margin-right: 60px; /* Espaciado entre los elementos del menú */
}

nav ul li:last-child {
    margin-right: 0; /* Elimina el margen del último elemento */
}

/* Estilo de enlaces normales */
a {
    color: rgb(200, 200, 200);
    position: relative;
    text-decoration: none;
    font-size: 15px; /* Tamaño del texto del enlace */
    padding: 2px 10px; /* Reducir el padding para hacer el enlace más fino */
}

/* Pseudo-elemento para el subrayado animado */
a.activo span::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: width 0.3s ease-in-out; /* Animación de entrada */
}

/* Subrayado animado al pasar el cursor */
a:hover::after {
    width: 100%;
    transition: width 0.3s ease-in-out; /* Animación de entrada */
}
a.activo:hover span::after{
    width: 100%;
}
a:hover {
    color: white;
}

a.activo span {
    color: white; /* Color blanco para el enlace activo */
    position: relative;
    display: inline-block;
}
a.activo{
    text-decoration: none;
    position: relative;
}
/*///BARRA LATERAL IZQUIERDA/////////////////////////////*/
/*#barralateral {
    background-color: rgb(0, 2, 70);
    float: left;
    color: white;
}*/

/*///CONTENIDO DE CAJA DERECHA///////////////////////////*/
#contenido {
    /*background: linear-gradient(135deg, rgb(32, 32, 32) 20%, rgb(0, 2, 70));*/
    padding: 15px;
    color: white;
}
/* Configurar el cuerpo y la altura mínima //////////////*/
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.tituloEmpresa{
    margin-top: 80px;
}
main {
    flex: 1;
}
h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 50px;
}
/*NUEVA SECCION//////////////////////////////////*/
#nueva-seccion {
    /*background: linear-gradient(135deg, #0044cc, #88ccff); /* Fondo degradado */
    /*background: linear-gradient(to bottom, rgb(0, 0, 0) 20%, rgb(32, 32, 32));*/
    /*background-color: black;*/
    color: white;
    padding: 1px 50px;
    text-align: center;
    margin-top: 120px;
    background-color: rgb(22, 22, 22);
}
#nueva-seccion p {
    font-size: 18px;
}
/*NUEVA SECCION2//////////////////////////////////*/
#nueva-seccion2 {
    color: white;
    padding: 50px 20px;
    text-align: center;
    font-size: 13px;
}
/*///FOOTER PRINCIPAL///////////////////////////*/
#pieprincipal {
    background-color: rgb(22, 22, 22);
    color: rgb(99, 99, 99);
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
     /* Añadir padding en lugar de márgenes para el espaciado */
}
/*.efecto-vidrio////////////////////////////////////
 {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 40px;
}*/
.left{
height: 500px;
width: 600px;
background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
border: 1px solid rgba(255, 255, 255, 0.3);
margin-top: 40px;
}
.right{
height: 500px;
width: 600px;
background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
border: 1px solid rgba(255, 255, 255, 0.3);
margin-top: 40px;
}
.flexbox1{
    display: flex;
    gap: 80px;
    justify-content: center
}
.parrafoLeft{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    text-align: justify;
}
.tituloLeft{
    padding: 10px;
    font-size: 28px;
}
.imgLeft{
    border-radius: 10px;
}
.topImgFlexLeft{
    margin-top: 40px;
}
.parrafoRight{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    text-align: justify;
}
.tituloRight{
    padding: 10px;
    font-size: 28px;
}
.imgRight{
    border-radius: 10px;
    padding-left: 25px;
}
.topImgFlexRight{
    margin-top: 30px;
}
.tituloServicios{
    font-size: 22px;
}